.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin-left: 100px;
  margin-right: 20px;
  border-radius: 20px;
  top: 25px;
  width: 85%;
  height: 10%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.navbar .active{
  background-color: #04AA6D;
  /* color: #04AA6D; */ 
}


.logo {
  margin-left: 10px;
  width: 15%;
  height: 10%;
}

.name {
  padding-bottom: 5px;
  padding-top: 7px;
  margin-left: 15px;
  position: absolute;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Reem Kufi', sans-serif;
  color: rgba(0, 0, 0, .9);
}

.navtext {
  padding-top: 5px;
  padding-bottom: 7px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Reem Kufi', sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

.navtext:hover {
  color: #00aa44;
  font-weight: bolder;
  cursor: pointer;
}

.cartt {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 20;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: #008C38;
  cursor: pointer;
}

footer {
  background-color: #4a6133;
  color: #fff;
  padding: 20px;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 200px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foot {
  width: 100%;
}

.fimg {
  margin-left: 20px;
  width: 10%;
  height: 10%;
}

.ftext {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  padding-left: 20px;
}

.copyright {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin-left: 20px;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  display: inline-block;
  margin-right: 20px;
}

.links li:last-child {
  margin-right: 0;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.mail {
  font-size: 20px;
  padding-top: 0px;
}

/* td {
  vertical-align: middle;
} */

.fa-facebook {
  margin: 4px;
}

@media screen and (max-width: 790px) {
  /* .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    display: none;
  } */

  /* .logo {
    height: 40px;
  } */

  /* .name {
    margin-top: 10px;
    margin-left: 0;
    font-size: 20px;
    display: none; 
  } */

  .navtext {
    margin: 10px 0;
    font-size: 16px;
    display: none;
  }

  .cartt {
    margin-left: 0;
    font-size: 20px;
    display: none;
  }

  .button {
    margin-top: 10px;
  }
}
