HTML,
body {
    /* background-color: #ffffff; */
    background-color: #BCE5C0;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Scrolling mechanism */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table{
    width: 100%;
}

.main {
    margin-top: 110px;
    margin-left: 100px;
    display: flex;
    width: 85%;
    height: 80%;
    flex-wrap: wrap;
    font-family: 'Reem Kufi', sans-serif;
}

.container {
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.Detail {
    border-radius: 10px;
    /* flex-grow: 4; */
    height: 110%;
    width: 65%;
    margin: 5px;
    padding: 20px 40px;

}

.Control {
    border-radius: 10px;
    /* flex-grow: 2; */
    margin: 5px;
    padding: 2px 20px;
    height: 99%;
    width: 22%;
}

.big{
    border-radius: 10px;
    width: 85%;
    height: 85%;
}

.small {
    border-radius: 10px;
    width: 25%;
    height: 25%;
}

.td-width{
    width: 50%;
    vertical-align: top;
}

.title{
    margin: 0px;
}

.star {
    font-size: 20px;
    color: gold;
    width: 20px;
  }

.rating{
    display: flex;
    flex-wrap: wrap;
}

.rate-text{
    color: #888;
}

.price{
    color: #018F47;
    margin-top: 0px;
    font-size: 25px;
}

.text-grey{
    color: #555;
}

.desc{
    text-align: justify;
    font-size: 15px;
}

.text-area{
    width: 100%;
    height: 22%;
    resize: none;
    border-radius: 10px;
    background-color: #CDCDCD;
    color: #696767;
    margin: 0px;
    padding: 5px;
    font-family: 'Reem Kufi', sans-serif;
}

.counter {
    float: left;
    border: solid 1px rgb(204, 204, 204);
    width: 118.18px;
    border-radius: 5px;
}

.counter-btn {
    color: #fff;
    background-color: #00B247;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.counter-input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    font-size: 16px;
}

.counter-btn:hover {
    background-color: #009933;
}

.minus {
    height: 35px;
    border-radius: 5px 0px 0px 5px;
}

.plus {
    height: 35px;
    border-radius: 0px 5px 5px 0px;
}

.counter-value {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0px 10px;
}

#stock{
    text-align: right;
    color: #555;
    margin-top: 5px;
}

#amount{
    color: #000;
}

.control-button{
    width: 100%;
    height: 8%;
    border-radius: 10px;
    font-family: 'Reem Kufi', sans-serif;
}

.add-to-cart{
    color: #00B247;
    border: 1px solid #00B247;
    background-color: white;
}

.add-to-cart:hover{
    background-color: #e2e2e2;
}

.buy-now{
    background-color: #00B247;
    color: #fff;
    border: 0px;
}

.buy-now:hover{
    background-color: #008a37;
}